body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: 20cm;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.impact-phrase {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}

.navbar {
    height: 76px;
    background-color: #4e6a8c8c;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    margin-left: 54px;
}

.navbar.scrolled {
    background-color: #4e6a8c;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    margin-right: 50px;
}

.section-heading {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.section-subheading {
    margin-bottom: 1.5rem;
    color: #6c757d;
}

.overlay-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-image .overlay-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 69%;
}

.image-shadow-container {
    position: relative;
    padding: 20px;
}

.image-shadow-container::before {
    content: '';
    position: absolute;
    top: -2px;
    right: 71px;
    width: 65%;
    height: 100%;
    background-color: #35a1bd1c;
    z-index: -1;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container p {
    margin: 0 0 1rem 0;
}

.text-container .btn {
    margin-top: 20px;
}

.highlight {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #e5e5e58c;
    padding: 0 0.2em;
    border-radius: 5px;
}

.partner-logo {
    max-width: 100px;
    margin: 10px;
    filter: grayscale(100%);
}

.py-5 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.widht {
    width: 100%;
}

.margin-top {
    margin-top: 70px;
}

.navbar-nav {
    margin-left: 64px !important;
}
